@page "/addnewuser"
@using BlazorApp_DB_API.ViewModel
<h3>AddNewUser</h3>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="newUser" OnValidSubmit="AddUser" FormName="CreateUser" Enhance>
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger"/>

            <div class="mb-3">
                <label for="vn" class="form-label">Vezetéknév</label>
                <InputText id="vn" @bind-Value="newUser.FName" class="form-control"/>
                <ValidationMessage For="()=>newUser.FName" class="text-danger"/>
            </div>

            <button type="submit" class="btn btn-primary md-4">Save</button>
            <a href="/" class="btn btn-success">Back</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public UserVM newUser { get; set; } = new();

    private async Task AddUser()
    {
        
    }
}
